.m-left{
	margin-left: 300px;
}
.m-top{
	margin-bottom: 100px;
}
.m-down{
	margin-top: 20px;
}
.img-height{
	width: 380px;
	height: 350px;
}
.img-coma{
	height: 30px;
	width: 40px;
	margin-left: 20px;
}
.goal{
	height:30px;
	width: 40px;
	padding: 5px;
	font-size: 22px;
	background-color:lightblue;
	text-align: center;
	border-radius: 50%;
	margin-left: -25px;
    margin-top: 100px;
	position: absolute;
}
.goal2{
	height:30px;
	width: 40px;
	padding: 5px;
	font-size: 22px;
	background-color:lightblue;
	text-align: center;
	border-radius: 50%;
	margin-left: 520px;
    margin-top: 100px;
	position: absolute;
}